*{
    margin:0;
    padding:0;
   
}
.container{
    width: 1320px;
    margin: 0 auto;
}
.clr{
    clear: both;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
.title h6{
color: #0f2f44;
font-family:'Open Sans', sans-serif;
font-size: 17px;
font-weight: 600;
}
.title h3{
    color: #0f2f44;
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
    font-weight: 400px;
    
}

/*##################################################################
                    heaeder_part Start
 ##################################################################*/

header{
   background-color:#0f2f44;
  

 }
 header p{
    color: white;
    font-family: 'open sans' , sans-serif;
    font-size: 18px;
    font-weight: 400px;
    padding: 12px;
    margin: 10px;   
 }

header .header_left{
    width: 50%;
    float: left;
}
header .header_right{
    width: 50%;
    float: left;
}
header .header_right p{
    text-align: right;
}


 /*##################################################################
                    heaeder_part End
 ##################################################################*/


 /*##################################################################
                    Navigation bar_part start
 ##################################################################*/
#navbar_part{
    width: 100%;
    height: 25px;
    padding:11px 0;
    margin: 28.5px 0;
    
}
#navbar_part .nav_logo{
    width: 20%;
    height: 50px;
    float: left;
    font-size: 20px;
}
#navbar_part .nav_menu{
    width: 60%;
    height: 55px;
    float: left;
    
}
#navbar_part .nav_menu ul li{
    display: inline-block;
    margin-left: 45px;
}
#navbar_part .nav_menu ul li a{
    color: #000000;
    font-size:16px;
    font-family:'Open Sans', sans-serif;
    font-weight: 400px;
    padding: 40px 9px;
    transition: .5s;
  
}
#navbar_part .nav_menu ul li a:hover{
    color:#ffc712;
    background-color:#fff9e6;

}    
#navbar_part .nav_icon{
    width: 20%;
    float: left;
    text-align: center;
}
#navbar_part .nav_icon .icon_1{
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 1px solid#999999;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin-left: 10px;
}
#navbar_part .nav_icon .icon_1:hover{
    background-color:#0f2f44;
    transition: .5s;
}
#navbar_part .nav_icon a:hover{
    color: #ffc712;
 
}
#navbar_part .nav_icon a{
    color: #999999;
    font-size: 16px; 

}
 /*##################################################################
                     Navigation bar_part 
 ##################################################################*/


  /*##################################################################
                    Banner_part Start 
 ##################################################################*/
#banner_part{
    height: 600px;
    background-image: url(../images/banner.png);
    
}
#banner_part .banner_text h3{
    color: #0f2f44;
    font-family:'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 400px;
    padding: 10px;
}
#banner_part .banner_text h1{
    color: #0f2f44;
    font-family:'Abril Fatface', cursive;
    font-size: 80px;
    font-weight: 500px;
}
#banner_part .banner_text h4{
    color: #aab0d8;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 400px;
    letter-spacing: 13px;
}
#banner_part .banner_text p{
    color: #0f2f44;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    width: 482px;
    line-height: 23px 0;
    padding: 20px 0;
}
#banner_part .banner_text a{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    background-color:#8484bf;
    display:inline-block;
    border-radius: 5px;
    transition: .5s;
    padding: 10px 18px;
}
#banner_part .banner_text a:hover{
    color: #8484bf;
    background-color:#ffffff;
    border: 1px solid#8484bf; 
}  
#banner_part .banner_text i{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    line-height: 50px;
    text-align: center;
    margin-left: 20px;
    transition: .4s;
    margin-bottom: 20px;
}
#banner_part .banner_text i:hover{
    background-color: #8484bf;
    color: white;
}

  /*##################################################################
                    Banner_part End 
 ##################################################################*/


 
 
  /*##################################################################
                   About_Us part Start
 ##################################################################*/
#about{
    margin: 50px 0;

}
#about .title{
    margin-top:40px 0;
}
#about .about_details{
    width: 500px;
    float: left;
}
#about .about_image{ 
    width: 500px;
    float: left;
    margin-left: 150px;
}
#about .about_details p{
    font-family:'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400px;
    color: #0f2f44;
    width: 649px;
    padding-top: 40px;
}
#about .about_details ul li{
    margin-top: 30px;
    color:#0f2f44;
    font-family:'Open Sans', sans-serif;
    font-size: 16px;
    margin-left: 25px;
    font-weight: 900px;
}
#about .about_details a{
    color: black;
    padding: 10px 15px;
    display: inline-block;
    font-size: 20px;
    font-family:'Open Sans', sans-serif;
    border-radius: 6px;
    margin-right: 25px;
    margin-top: 25px;
    transition: .5s;

    box-shadow: 10px 10px 38px -12px rgba(70, 70, 70, 0.52);
    -webkit-box-shadow: 10px 10px 38px -12px rgba(129, 128, 128, 0.52);
    -moz-box-shadow: 10px 10px 38px -12px rgba(75, 73, 73, 0.52);
}
#about .about_details a:hover{
    background-color: #ffc107;
}
#about .about_image img{
    width: 100%;
}



  /*##################################################################
                        About Us_part End
 ##################################################################*/

  /*##################################################################
                    services_part start
 ##################################################################*/
#service{
    margin: 0;
    margin: 100px 0;
    background-color: whitesmoke;
    
}
#service .title{
    text-align: center;
    padding: 20px;
}
#service .service_item{
    height: 160px;
    width: 30%;
    float: left;
    margin-left: 20px;
    margin-bottom: 100px;
    position: relative;

}
#service .service_item .service_img{
    height: 100%;
    width: 28%;
    float: left;
    background-color: rgb(230, 230, 230);
   
}
#service .service_item .service_img img{
    margin-top: 50px;
    margin-left: 25px;
}
#service .service_item .service_text{
    height: 100%;
    width: 72%;
    float: left;
    background: rgb(235, 235, 235);   
}
#service .service_item .overly{
    height: 100%;
    width: 0;
    position: absolute;
    background-color: #0f2f44;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .8s;
    text-align: center;
}
#service .service_item:hover .overly{
    width: 100%;
    opacity: 1;
}
#service .service_item .item_text p{
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: #444444;
      
}    
#service .service_item .overly h3{
    color: white;
    font-family:'Open Sans', sans-serif;
    text-align: center;
    font-weight: 400px;
    font-size: 22px;
   
}
#service .service_item:hover .overly img{
     margin-top: 20px;
}
#service .service_item .service_text h3{
    margin-bottom: 10px;
    margin-top: 20px;
    font-family:'Open Sans', sans-serif;
}
#service .service_item .service_text p{
    font-family:'Open Sans', sans-serif;

}
  /*##################################################################
                    services_part End 
 ##################################################################*/


  /*##################################################################
                    Portfolio_part  start
 ##################################################################*/
#portfolio{
     padding: 100px;
     margin: 100px;
 
}
#portfolio .title{
    text-align: center;
}
#portfolio .port_item{
    height: 420px;
    width:30%; 
    margin-left: 25px;
    float: left;
    position: relative;
}

#portfolio .port_item:hover .port_overlay{
    height: 15%;
    opacity: 1;
}
#portfolio .port_item .port_overlay{
    height: 0%;
    width: 94%;
    background-color: #ffffff;
    position: absolute;
    bottom:0;
    left: 0;
    margin-bottom: 0px;
    transition: .5s;
    opacity: 0;

    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.12); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.12);
}
#portfolio .port_item .port_overlay h3{
    font-family:'Open Sans', sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: #0f2f44;
    line-height: 50px;
}

#portfolio .btn button{
    font-family:'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 500 ;
    background: #ffffff;
    color: #0f2f44;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin: 50px 0;
    transition: .5s;

   -webkit-box-shadow: 1px 5px 15px 5px rgba(0,0,0,0.1); 
box-shadow: 1px 5px 15px 5px rgba(0,0,0,0.1);
    
}
#portfolio .btn{
    text-align: center;
   
}
#portfolio .btn button:hover{
    background-color:#fcc512;
}

  /*##################################################################
                    Portfolio_part End 
 ##################################################################*/

 /*##################################################################
                    Testimonial_part Start 
 ##################################################################*/
#test{
    margin: 100px 0;
    padding: 10px 0;
    background-color: whitesmoke;
    padding-bottom: 60px;
         
}
#test .title{
    text-align: center;
}
#test .test_item{   
    width: 45%;
    float: left;
    margin-left: 20px;
    background-color: #e9e9e9;
   
}
#test .test_item .test_img{
    width: 40%;
    float: left;
}
#test .test_item .test_img img{
    display: block;
}

#test .test_item .test_text{
    width: 60%;
    float: left;
}
#test .test_item .test_text p{ 
    font-family:'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500px;
    color: #0f2f44;
    margin: 20px 0;
    
}
#test .test_item .test_text h3{
    font-family:'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 500px;
    color: #0f2f44;
    padding-top: 15px;  
    margin-top: 20px;  

}
#test .test_item .test_text h4{
    font-family:'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 500px;
    color: #0f2f44;
}
/*##################################################################
                    Testimonial_part End 
 ##################################################################*/
 
/*##################################################################
                   Blog_part Start 
 ##################################################################*/
#blog{
    margin: 200px 0;
    background-color: whitesmoke;
    padding-top: 10px;
    
}
#blog .title{
    text-align: center;
}
#blog .blog_item{
    width: 27%;
    background-color:#e9e9e9;
    float: left;
    margin-left: 60px;
    margin-top: 30px;
    border-radius: 6px;
    transition: .5s;
box-sizing: border-box;
    
}
#blog .blog_item:hover{
    background-color:#0f2f44;
}
#blog .blog_item .blog_img{
    text-align: center;
    margin-top: 20px;
}
#blog .blog_item .blog_text h4{
    font-family:'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #777777;
    margin-left: 17px;
    margin-top: 15px;
}
#blog .blog_item:hover .blog_text h4{
    color: #ffffff ;
}
#blog .blog_item .blog_text h3{
    font-family:'Open Sans', sans-serif;
    font-size: 23px;
    font-weight: 500;
    color: #000000;
    margin-left:16px;
    margin-top: 9px;
    margin-bottom:15px;  
}
#blog .blog_item .blog_text a{
    font-family:'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #777777;
    margin-left: 15px;
    display: block;
}
#blog .blog_item .blog_text a i{
    margin-left: 7px;
}
#blog .blog_item .blog_text{
    margin-bottom:15px;
}
#blog .blog_item:hover .blog_text h3{
    color: #ffffff;
}
#blog .blog_item:hover .blog_text a{
    color: #ffffff;
}
#blog .btn button{
    font-family:'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 500;
    margin: 50px 0;
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
    color: #0f2f44;
    padding: 10px 20px;
    transition: .5s;


    -webkit-box-shadow: 1px 5px 15px 5px rgba(0,0,0,0.1); 
    box-shadow: 1px 5px 15px 5px rgba(0,0,0,0.1);

}
#blog .btn{
    text-align: center;
    margin-top: 20px;
}
#blog .btn button:hover{
    background-color: #fcc512;
}

/*##################################################################
                    Blog_part End 
 ##################################################################*/


/*##################################################################
                    footer_part start 
 ##################################################################*/
footer{
   margin: 100px 0;
   background-color: whitesmoke;
   padding-bottom: 70px;
   padding-top:10px;
}
footer .footer_logo{
    width: 25%;
    float:left;
}
footer .footer_contact{
    width: 26%;
    float:left;
}
footer .footer_link{
    height: 300px;
    width: 15%;
    float:left;
}
footer .footer_photo{
    height: 300px;
    width: 34%;
    float:left;
}
footer .footer_logo p{
    font-family:'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 10px;
    width: 295px;
    margin-top: 16px;
}
footer .footer_logo ul li{
    display: inline-block;
    margin-top: 25px;
    border: 1px solid #0f2f44 ;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    margin-right: 10px;

}
footer .footer_logo ul li a{
    font-size: 20px;
    color: #0f2f44;
  
}
footer .footer_logo ul li:hover{
    background: #0f2f44;
}
footer .footer_logo ul li:hover a{
  color: white; 
}
footer h3{
    font-family:'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #0f2f44;
}
footer .footer_contact .cont_item .cont_icon{
    height: 50px;
    width: 20%;
    float: left;
}
footer .footer_contact .cont_item .cont_icon i{
    font-size: 24px;
    margin-right: 10px;
    color: #0f2f44;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
}
footer .footer_contact .cont_item .cont_text p{
    font-size: 14px;
    font-family:'Open Sans', sans-serif;
    font-weight: 400;
    color: #0f2f44;
}
footer .footer_contact .cont_item{
    height: 50px;
    width: 100%;
    float: left;
    margin-top: 10px;
    
}
footer .footer_contact .cont_item .cont_text .number{
    width:200px;
}
footer .footer_contact .cont_item{
    margin-top: 20px
}
footer .footer_link h3{
    margin-left: 10px;
}
footer .footer_link ul li{
    font-family:'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin: 22px;
    margin-left: 10px;
    transition: .5s;
 
}
footer .footer_link ul li:hover{
    margin-left: 20px;
    color:#0f2f44;
    
}
footer .footer_photo img{
    margin-top: 15px;
    margin-right: 20px;
    width: 20%;
}
/*##################################################################
                    footer_part End 
 ##################################################################*/
 /*##################################################################
                    Bottom_part Start
 ##################################################################*/
#footer_bottom{
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: whitesmoke;
}
#footer_bottom .bottom{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    font-family:'Open Sans', sans-serif;
    padding-left: 10px;
    text-transform: capitalize;


}
#footer_bottom .bottom span{
    color:#fcc512 ;
}

 /*##################################################################
                     Bottom_part End
 ##################################################################*/

 /*##################################################################
                     Responsive_part start
 ##################################################################*/

 /*##################################################################
                     Responsive_part End
 ##################################################################*/











